@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//$dark: darken(hsl(171, 100%, 41%), 10%);
$navbar-box-shadow-size: 0 0 10px ;
$navbar-box-shadow-color: rgba(0,0,0,0.7);

// Responsiveness

$gap: 32px;
$tablet: 769px - 300px  !default
$desktop: 960px - 300px + (2 * $gap) !default
$widescreen: 1152px - 300px  + (2 * $gap) !default
$fullhd: 1344px - 300px  + (2 * $gap) !default

@import 'node_modules/bulma/bulma.sass';

.card {
  margin-bottom: 1.7rem;
}